body{
    font-family: 'Nunito', sans-serif;
}
.wrapper{
    width: 961px;
    margin: 0 auto;
}
#header{
    display: flex;
    margin: 0;
    height: 75px;
    width: 100%;
    border-bottom: 1px solid darkseagreen;
}
.header-img{
    background: url(background.jpg);
    background-size: 100%;
    height: 90px;
    background-repeat: no-repeat;
}
.logo {
    float: left;
}
.logo h{
    text-transform: lowercase;
    font-size: 37px;
    padding-left: 5px;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    color: white;
}
.logo a{
    text-decoration: none;
}
.menu-logs{
  float: right;
  margin: 25px;
}

.menu-logs ul{
  margin:0; padding: 0;
  list-style: none;
}

.menu-logs ul li{
  display: inline;
}

.menu-logs ul li a{
  text-transform: capitalize;
  text-decoration: none;
  padding: 5px 8px 5px 8px;
  margin: 0 5px 0 5px;
  color: white;
  font-weight: bold;
  background-color: darkseagreen;
}

.menu a{
    float: left;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li{
    display: inline;
}

.menu ul li a{float: left;text-transform: capitalize;
text-decoration: none; padding: 27px 30px 10px 30px; color:black;font-weight: bold;}
.menu ul li a:hover{cursor: pointer;color: darkseagreen;
border-bottom: 2px solid darkseagreen;}

#content{
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 473px;
    border-bottom: 5px solid darkseagreen;
}
.article{
    float: left;
    width: 300px;
    height: 280px;
    margin: 10px;
    border-right: 5px solid darkseagreen;
}

.article{
    width: 290px;
    height: 280px;
    margin: 12px;
    border-right: 5px solid darkseagreen;
}
.article img{
    margin: 10px;
}
.article h1{
    margin: 10px;
    color: darkseagreen;

}
.article a{
    border:1px solid darkseagreen;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: darkseagreen;
}
.article a:hover{
    background: darkseagreen;
    color: #fff;
}
#footer{
    display: flex;
    width: 100%;
    height:400px;
    border-bottom: 1px solid darkseagreen;
    justify-content: center;
}

.copyright{
    display: flex;
    justify-content: center;
   margin: 20px;
}

.copyright p{
    text-align: center;
  font-size: 13px;
  color: darkseagreen;
  line-height: 1.6;
}

#slider, .wrap,.slide-content{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 473px;
    overflow-x: hidden;
}

#slider, .wrap,.slide-content{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 473px;
    overflow-x: hidden;
}

.wrap{
    position: absolute;
}

.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1{background-image: url('s1.jpg');}
.slide2{background-image: url('s2.jpg');}
.slide3{background-image: url('s3.jpg');}

.slide-1{background-image: url('p1.jpg');}
.slide-2{background-image: url('p2.jpg');}
.slide-3{background-image: url('p3.jpg');}

.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slide-content span{
    font-size: 5rem;
    color: azure;
}


.arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}


#arrow-left{
    border-width: 30px 40px 30px 0;
    border-color: transparent white transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right{
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent white;
    right: 0;
    margin-right: 30px;
}

.footer-menu{
    margin: 50px;
    display: inline;
    height: 22px;
    float: left;
    text-align: center;
}
.footer-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-menu ul li{
    display: inline;
    margin: 10px;
}
.footer-menu ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: darkseagreen;
    font-size: 15px;
    font-weight: bold;
}
.footer-menu ul li a:hover{
    cursor: pointer;
}
.footer-menu p, h4{
  color: darkseagreen;
  font-size: 14px;
}

.social-icon{
  clear: both;
  margin: 95px;
  width: 211px;
}
.social-icon ul{
  margin: 0;
  padding: 0;
  list-style: none;
}
.social-icon ul li{
    display: inline;
    margin: 10px;
}
.social-icon ul li a:hover{
    cursor: pointer;
}



/*  ------------  contactus content ------------- */

.contactus{
  background: #90EE90;
}

.form{
   width: 100%;
    margin: 25px 0;
}

.top-form,
.middle-form,
.bottom-form{
    width: 100%;
    min-height: 65px;
    margin:10px 0;
    overflow: hidden;
}

.form input[type = "text"],
.form textarea{
    padding: 15px 5px;
    box-sizing: border-box;
    width: 100%;
    border: 2px solid #fff;
    border-radius: 2px;
    outline: none;
    transition: all 0.2s ease;
}

.form input:focus,
.form textarea:focus{
    border-color: #3CB371;
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.0125),
                0 0 8px(76,161,175,0.5);
}

.form .label{
    margin-bottom: 5px;
}

.top-form .inner-form{
    width: 29.9%;
    float: left;
    margin-right: 5%;
}

.top-form .inner-form:last-child{
    margin-right: 0;
}

.middle-form{
    clear: both;
}

.bottom-form textarea{
    height: 120px;
}

.btn{
    background: #3CB371;
    width: 200px;
    padding: 10px 0;
    border-radius: 2px;
    text-align:center;
    text-transform: uppercase;
    color: black;
    letter-spacing: 5px;
    cursor: pointer;
}

::-webkit- input-placheloder{
     font-family: 'Kavivanar', cursive;
    text-transform: capitalize;
}
