body{
    font-family: 'Nunito', sans-serif;
    background: url(background.jpg);
    background-size: 100% 40%;
    background-repeat: no-repeat;
}
.wrapper{
    width: 961px;
    margin: 0 auto;
}
#header{
    display: flex;
    margin: 0;
    height: 87px;
    width: 100%;
}
.logo {
    float: left;
}
.logo h{
    text-transform: lowercase;
    font-size: 37px;
    margin: 0px 5px 5px 5px;
    padding-left: 5px;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    color: white;
}
.menu{
    float: right;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li{
    display: inline;
}
.menu ul li a{
    float: left;
    text-transform: capitalize;
    text-decoration: none;
    padding: 33px 10px 32px 10px;
    color: white;
}
.menu ul li a:hover{
    border-bottom: 5px solid white;
}
#content{
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 960px;
    border-bottom: 5px solid darkseagreen;
}
.article{
    float: left;
    width: 300px;
    height: 280px;
    margin: 10px;   
    border-right: 5px solid darkseagreen;
}

.article{
    width: 290px;
    height: 280px;
    margin: 12px;   
    border-right: 5px solid darkseagreen;
}
.article img{
    margin: 10px;
}
.article h1{
    margin: 10px;
    color: darkseagreen; 
   
}
.article a{
    border:1px solid darkseagreen;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: darkseagreen;
}
.article a:hover{
    background: darkseagreen;
    color: #fff;
}
.Welcome-Text{
    position: relative;
    width:600px;
    height: 300px;
    margin:20% 20% 8% 20%;
    text-align: center;
}
.Welcome-Text{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-size: 10pt; 
}
.Welcome-Text a{
    border:1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size:10pt;
    margin-top: 20px;
    display:inline-block;
    color:#fff;
}
.Welcome-Text a:hover{
    background: #fff;
    color: #333;
}
#footer{
    display: flex;
    width: 100%;
    height:400px;
}
.last-part{
    width: 220px;
    float:left; 
    padding-top: 20px;
    padding-right: 20px;
}

.last-part h2{
  font-size: 13pt;
  font-family: "Georgia Italic";
  color: #3CB371;
  line-height: 1;
  border-bottom: 1px  solid  #2E8B57;
 padding-bottom: 20px;
}

.last-part h7{
  font-size: 15px;
  font-family: "Georgia";
  color:#999999;
  line-height: 1.2;
}

.last-part p{
  font-size: 13px;
  font-family: "Georgia";
  color: rgb(153, 153, 153);
  line-height: 1.6;
}

.last-part a{
  font-size: 13px;
  font-family: "Georgia";
  color: #2E8B57;
}

.last-part dl dd{
    width: 220px;
    float: left;
    margin-left: 0;
    padding-left: 0;
    list-style: none;
    border-bottom:1px solid #2E8B57;
}
.last-part dl dd a{
    line-height: 2.3;
}

.last-part dl dd img{
    margin-bottom: 20px;
}

.last-part1{
    width: 220px;
    height: 150px;
}

.last-part1 h7{
  font-size: 15px;
  font-family: "Georgia";
  color:#999999;
  line-height: 1.2;
}

.last-part1 p{
  font-size: 13px;
  font-family: "Georgia";
  color: rgb(153, 153, 153);
  line-height: 1.6;
  text-align: left;
}
.last-part1 a{
  font-size: 13px;
  font-family: "Georgia";
  color: #8FBC8F;
  float: right;
}

.last-part input{
    font-family: "Georgia Regular";
    color: #989898;
    font-size: 13px;
    height: 30px;
    width: 220px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
    background-color: #383838;
    border-color: #383838;
}

.last-part textarea{
    font-family: "Georgia Regular";
    color: #989898;
    font-size: 13px;
    background-color: #383838;
    height: 110px;
    width: 220px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border-color: #383838;
}

.last-part button{
    font-family: "Georgia Regular";
    color:#313131;
    background-color:#8FBC8F;
    height:30px; 
    width:82px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 8px;
    border-color: #8FBC8F;
}


