body{
    font-family: 'Nunito', sans-serif;
}
.wrapper{
    width: 961px;
    margin: 0 auto;
}
#header{
    display: flex;
    margin: 0;
    height: 75px;
    width: 100%;
    border-bottom: 1px solid darkseagreen;
}
.header-img{
    background: url(background.jpg);
    background-size: 100%;
    height: 122px;
    background-repeat: no-repeat; 
}
.logo {
    float: left;
}
.logo h{
    text-transform: lowercase;
    font-size: 37px;
    margin: 0px 5px 5px 5px;
    padding-left: 5px;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    color: white;
}
.logo a{
    text-decoration: none;
}

.right-menu a{
    float:right;
}
.right-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.right-menu ul li {
    display: inline;
    float: right;
}

.right-menu ul li a {
    text-decoration: none;
    font-size: 13px;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
}

.menu a{
    float: right;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li{
    display: inline;
}

.menu ul li a{float: left;text-transform: capitalize;
text-decoration: none; padding: 27px 30px 10px 30px; color:black;font-weight: bold;}
.menu ul li a:hover{cursor: pointer;color: darkseagreen;
border-bottom: 2px solid darkseagreen;}

#content{
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 473px;
    border-bottom: 5px solid darkseagreen;
}
.article{
    float: left;
    width: 300px;
    height: 280px;
    margin: 10px;   
    border-right: 5px solid darkseagreen;
}

.article{
    width: 290px;
    height: 280px;
    margin: 12px;   
    border-right: 5px solid darkseagreen;
}
.article img{
    margin: 10px;
}
.article h1{
    margin: 10px;
    color: darkseagreen; 
   
}
.article a{
    border:1px solid darkseagreen;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: darkseagreen;
}
.article a:hover{
    background: darkseagreen;
    color: #fff;
}
#footer{
    display: flex;
    width: 100%;
    height:400px;
    border-bottom: 1px solid darkseagreen;
    justify-content: center;
}

.copyright{
    display: flex;
    justify-content: center;
   margin: 20px;
}

.copyright p{
    text-align: center;
  font-size: 13px;
  color: darkseagreen;
  line-height: 1.6;
  
}

#slider, .wrap,.slide-content{
    display: block;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 473px;
    overflow-x: hidden;
}

.wrap{
    position: absolute;
}

.slide{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.slide1{background-image: url('s1.jpg');}
.slide2{background-image: url('s2.jpg');}
.slide3{background-image: url('s3.jpg');}

.slide-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
 
.slide-content span{
    font-size: 5rem;
    color: azure;
}


.arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
}


#arrow-left{
    border-width: 30px 40px 30px 0;
    border-color: transparent white transparent transparent;
    left: 0;
    margin-left: 30px;
}

#arrow-right{
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent white;
    right: 0;
    margin-right: 30px;
}

.footer-menu{
    margin: 50px 0 0 0;
}
.footer-menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-menu ul li{
    display: inline;
    margin: 10px;
}
.footer-menu ul li a{
    text-transform: capitalize;
    text-decoration: none;
    color: darkseagreen;
    font-size: 15px;
    font-weight: bold;
}
.footer-menu ul li a:hover{
    cursor: pointer;
}
/*.menu a{
    float: right;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li{
    display: inline;
}

.menu ul li a{float: left;text-transform: capitalize;
text-decoration: none; padding: 27px 30px 0px 30px; color:black;font-weight: bold;}
.menu ul li a:hover{cursor: pointer;color: darkseagreen;}
*/


/* ELIONA'S SLIDER*/
/*-----------------------------------------------------*/
.slide-container{
    width:1920px;
    height:1080px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    text-align: center;
}
.image-container{
    width:7680px;
    height:1080px;
    position: relative;
    transition: left 2s;
    -webkit-transition:left 2s;
    -moz-transition:left 2s;
}
.slider-image{
    float:left;
    margin:0px;
    padding: 0px;
}
.button-container{
    top: -20px;
    position: relative;
}
.slider-button{
    display: inline-block;
    height: 10px;
    width:10px;
    border-radius:5px;
    background-color: darkseagreen;
}
#slider-image-1:target ~ .image-container{
    left:0px;
}
#slider-image-2:target ~ .image-container{
    left: -1920px;
}
#slider-image-3:target ~ .image-container{
    left: -3840px;
}
#slider-image-4:target ~ .image-container{
    left: -5760px;
}

