body{
    font-family: 'Nunito', sans-serif;
}
.wrapper{
    width: 961px;
    margin: 0 auto;
}
.header-img{
    background: url(background.jpg);
    background-size: 100%;
    height: 150px;
    background-repeat: no-repeat;
    
}
.logo {
    float: left;
    margin-top: 64px;
}
.logo h{
    text-transform: lowercase;
    font-size: 37px;
    margin: 0px 5px 5px 5px;
    padding-left: 5px;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    color: white;
}
#header{
    display: flex;
    margin: 0;
    height: 76px;
    width: 100%;
    border-bottom: 1px solid darkseagreen;
}
.menu a{
    float: left;
}
.menu ul {
    margin: 0;
    padding: 0; list-style: none;
}
.menu ul li{display: inline;}
.menu ul li a{float: left;text-transform: capitalize;
text-decoration: none; padding: 27px 30px 0px 30px; color:black;font-weight: bold;}
.menu ul li a:hover{cursor: pointer;color: darkseagreen;}



.slide-container{
    width:1920px;
    height:1080px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    text-align: center;
}
.image-container{
    width:7680px;
    height:1080px;
    position: relative;
    transition: left 2s;
    -webkit-transition:left 2s;
    -moz-transition:left 2s;
}
.slider-image{
    float:left;
    margin:0px;
    padding: 0px;
}
.button-container{
    top: -20px;
    position: relative;
}
.slider-button{
    display: inline-block;
    height: 10px;
    width:10px;
    border-radius:5px;
    background-color: darkseagreen;
}
#slider-image-1:target ~ .image-container{
    left:0px;
}
#slider-image-2:target ~ .image-container{
    left: -1920px;
}
#slider-image-3:target ~ .image-container{
    left: -3840px;
}
#slider-image-4:target ~ .image-container{
    left: -5760px;
}
/*
.menu a{
    float: right;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li{
    display: inline;
}
.menu ul li a{
    float: right;
    text-transform: capitalize;
    text-decoration: none;
    padding: 33px 10px 32px 10px;
    color: white;
}
.menu ul li a:hover{
    border-bottom: 5px solid white;
}*/
