body{
    font-family: 'Nunito', sans-serif;
    background: url(background.jpg);
    background-size: 100% 40%;
    background-repeat: no-repeat;
}
.wrapper{
    width: 961px;
    margin: 0 auto;
}
#header{
    display: flex;
    margin: 0;
    height: 87px;
    width: 100%;
}
.logo {
    float: left;
}
.logo h{
    text-transform: lowercase;
    font-size: 37px;
    margin: 0px 5px 5px 5px;
    padding-left: 5px;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    color: white;
}
.menu{
    float: right;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li{
    display: inline;
}
.menu ul li a{
    float: left;
    text-transform: capitalize;
    text-decoration: none;
    padding: 33px 10px 32px 10px;
    color: white;
}
.menu ul li a:hover{
    border-bottom: 5px solid white;
}
#content{
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 960px;
    border-bottom: 5px solid darkseagreen;
}
.icon{
    width: 300px;
    height: 280px;
    margin: 10px;   
    border-right: 5px solid darkseagreen;
}

.icon img{
    margin: 10px;
}
    

.icon h1{
    margin: 10px;
    color: darkseagreen;
    
}
.icon a{
    border:1px solid darkseagreen;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: darkseagreen;
}
.icon a:hover{
    background: darkseagreen;
    color: #fff;
}
.article{
    width: 300px;
    height: 280px;
    margin: 10px;   
    border-right: 5px solid darkseagreen;
}
.article img{
    margin: 10px;
}
.article h1{
    margin: 10px;
    color: darkseagreen; 
   
}
.article a{
    border:1px solid darkseagreen;
    padding: 8px 10px;
    text-decoration: none;
    text-transform: uppercase;
    color: darkseagreen;
}
.article a:hover{
    background: darkseagreen;
    color: #fff;
}
.Welcome-Text{
    position: relative;
    width:600px;
    height: 300px;
    margin:20% 20% 13% 20%;
    text-align: center;
}
.Welcome-Text{
    text-align: center;
    color:#fff;
    text-transform: uppercase;
    font-size: 10pt; 
}
.Welcome-Text a{
    border:1px solid #fff;
    padding: 10px 25px;
    text-decoration: none;
    text-transform: uppercase;
    font-size:10pt;
    margin-top: 20px;
    display:inline-block;
    color:#fff;
}
.Welcome-Text a:hover{
    background: #fff;
    color: #333;
}
#footer{
    display: flex;
    width: 100%;
    height:600px;
}
