.wrapper{
    width: 961px;
    margin: 0 auto;
}

#header{
    width: 100%;
    height: 50px;
}

#content{
    width: 100%;
    height: 600px;
}

#footer{
    width: 100%;
    height:400px;
}

.logo{
    float: left;
}

.menu{
    float: right;
}

.menu ul li{
    margin: 5px;
    padding: 5px;
    background: floralwhite;
    display: inline;
}



