body{
    font-family: 'Nunito', sans-serif;
}
.wrapper{
    width: 961px;
    margin: 0 auto;
}
.header-img{
    background: url(background.jpg);
    background-size: 100%;
    height: 150px;
    background-repeat: no-repeat;
    
}
.logo {
    float: left;
    margin-top: 64px;
}
.logo h{
    text-transform: lowercase;
    font-size: 37px;
    margin: 0px 5px 5px 5px;
    padding-left: 5px;
    border-bottom: 5px solid white;
    border-left: 5px solid white;
    color: white;
}
#header{
    display: flex;
    margin: 0;
    height: 76px;
    width: 100%;
    border-bottom: 1px solid darkseagreen;
}
.menu a{
    float: left;
}
.menu ul {
    margin: 0;
    padding: 0; list-style: none;
}
.menu ul li{display: inline;}
.menu ul li a{float: left;text-transform: capitalize;
text-decoration: none; padding: 27px 30px 0px 30px; color:black;font-weight: bold;}
.menu ul li a:hover{cursor: pointer;color: darkseagreen;}
/*
.menu a{
    float: right;
}
.menu ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu ul li{
    display: inline;
}
.menu ul li a{
    float: right;
    text-transform: capitalize;
    text-decoration: none;
    padding: 33px 10px 32px 10px;
    color: white;
}
.menu ul li a:hover{
    border-bottom: 5px solid white;
}*/
